<table xmlns:th="http://www.thymeleaf.org">
    <thead>
    <tr>
        <th>Nume</th>
        <th>Tip</th>
        <th>CIF</th>
        <th>CAEN</th>
        <th>CUI</th>
        <th>Nr. de inregistrare</th>
        <th>Adresa</th>
        <th>Telefon</th>
        <th>eMail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${companies.empty}">
        <td colspan="2">Adauga noi comanii...</td>
    </tr>
    <tr th:each="company : ${companies}">
        <td><span th:text="${company.name}"> Nume </span></td>
        <td><span th:text="${company.type}"> Tip </span></td>
        <td><span th:text="${company.cif}"> CIF </span></td>
        <td><span th:text="${company.caen}"> CAEN </span></td>
        <td><span th:text="${company.cui}"> CUI </span></td>
        <td><span th:text="${company.registrationNumber}"> Nr. de inregistrare </span></td>
        <td><span th:text="${company.address}"> Adresa </span></td>
        <td><span th:text="${company.phone}"> Telefon </span></td>
        <td><span th:text="${company.email}"> eMail </span></td>
    </tr>
    </tbody>
</table>